
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap');



body {
    height: 100vh;
    margin:0;
    font-family: 'Poppins', 'sans-serif';
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 28px;
}

h3 {
    font-size: 26px
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

}

p {
    font-size: 24px;
}

a {
    text-decoration: none;
    color: #470065
}



a:hover{
    color:blue
}

a:after{
    color:  blueviolet;
}

a:active{
    color:red
}

a:link{
    color:#470065
}


html {
    font-size: 10px; 
    font-family: 'Poppins', 'sans-serif'
}

/* stlyes for the the different icons */
.icons{
    max-width: 25px;
    max-height: 25px;
    margin: auto;
}



/* container for the header */
.nav-container {
    background-color: #EED9FF;
    
}

header{
    display: flex;
    justify-content: space-between;
    padding: 2em;
    
}

.social-header {
    display: none;
}

/* container containing my profile picture */
.hero {
    background-color:#D4AAF6 ;
    color:#470065;
    display: grid;
    text-align: center;
    padding: 4em;
}

div {
    padding: 1em 1em;
    text-align: center;
}

/* adjusts the picture of the map */

.location {
    position: relative;
    background-color: #EED9FF;
}

/* adjusts the font and spacing of the text beneath the goal, skills, and interests sections */

.featured-desc {
    color: black;
    font-size: 24px;
    margin-top: .1em;
   
    
}


footer {
    text-align: center;
    font-size: 12px
}